<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Download or playback videos and music in full quality">
        <meta name="keywords" content="Download, Youtube, yt-dlp, MP3, Convert">
        <link rel="stylesheet" href="/static/static/css/pico.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <title>Viddle your fiddle</title>
    </head>
    <main class="container">
        <div class="headings">
            <h3>
                Viddle your fiddle
                <h4>Grab your videos for safe keeping!</h4>
            </h3>
        </div>
        <form hx-post="/download" hx-target="#get-btn" hx-swap="outerHTML" hx-indicator="#progress">
                <div class="grid">
                    <div hx-target="this" hx-swap="outerHTML">
                        <label data-tooltip="Link can be on any platform!">Link
                            <input 
                            type="url" id="URL" name="URL" 
                            hx-post="/valid-link" hx-indicator="#url-validation-progress" required>
                        </label>
                    <progress class="htmx-indicator" id="url-validation-progress"></progress>
                    </div>
                    <label>Format
                        <select required>
                            <option value="" disabled selected>Format</option>
                            {{ range .Formats }} <option>{{ .VideoRes }}</option>{{ end }}
                        </select>
                    </label>
                </div>
                <button id="get-btn">Get
                    <!-- <a class="htmx-indicator" href="#" aria-busy="true"></a> -->
                </button>
        </form>
        <progress class="htmx-indicator" id="progress"></progress>
        <script data-cfasync="false" type="text/javascript" data-adel="atag" src="//acscdn.com/script/atg.js" czid="tfsym8rbfg"></script>
    </main>
</html>
