<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>       <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://{{ .AppURL }}/static/static/css/pico.min.css">
        <script src="https://unpkg.com/htmx.org@1.9.5"></script>
        <title>YT Download</title>
    </head>
    <main class="container">
        <form hx-post="/download" hx-target="#get-btn" hx-swap="outerHTML" hx-indicator="#progress">
                <label for="URL">Link</label>
                <div class="grid">
                    <input type="url" id="URL" name="URL" placeholder="Video Link" required>
                    <!-- Select -->
                    <select required>
                        <option value="" disabled selected>Format</option>
                        {{ range .Formats }} <option>{{ .VideoRes }}</option>{{ end }}
                    </select>
                </div>
                <button id="get-btn">Get
                    <!-- <a class="htmx-indicator" href="#" aria-busy="true"></a> -->
                </button>
        </form>
        <progress class="htmx-indicator" id="progress"></progress>
    </main>
</html>
